body {
    background-color: #f5f7fa;
}

.card {
    border: none;
    border-radius: 10px;
}

.navbar-brand {
    font-size: 22px;
}

table {
    background: white;
}

.btn-primary {
    border-radius: 8px;
}

h2 {
    font-weight: 600;
}
